--extra-index-url https://download.pytorch.org/whl/cu126

kagglehub==0.3.12
lap==0.5.12
matplotlib==3.10.5
numpy==2.3.2
Pillow==11.3.0
pytest==8.4.1
Requests==2.32.5
setuptools==78.1.1
torch==2.8.0+cu126
torchvision==0.23.0+cu126
tqdm==4.67.1
